fieldset {
  font-family: sans-serif;
  border-radius: 15px;
  width: 350px;
}
p {
  font-weight: bold;
}
.label {
  display: block;
}
.in {
  display: block;
  width: 250px;
  padding: 6px;
  margin: 7px;
  border-radius: 5px;
  padding-left: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
textarea {
  resize: vertical;
  min-height: 30px;
  max-width: 250px;
}
.i {
  margin: 10px;
  cursor: pointer;
}
.b {
  width: 100px;
  display: block;
  margin: 7px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}
