.con {
  max-width: 1320px;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  color: black;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}
.b {
  color: #000;
}
.a {
  font-weight: 600;
}
.n {
  font-weight: 600;
  text-decoration: none;
}
